body {
    background-color:dimgray
}

#dex {
    display: inline;
}

.borderedTable {
    margin: auto;
    border: 2px solid aliceblue;
    background-color: rgb(201, 165, 165);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

#pageTitle {
    font-size: 75px;
    border: 0.5px solid orangered;
    background-color: darkgrey;
    color:orangered;
    border-radius: 10px;
    padding: 5px;
}

.outerBorderSelection {
    border: 2px solid white;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(201, 165, 165, 0.4);
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

}

.textIntro {
    color: whitesmoke;
    margin: 5px;
    text-align: center;
    border: 2px solid white;
    border-radius:  10px;
    background-color: rgb(201, 165, 165);
    padding: 5px;
    font-size: larger;
}

.textIntro b {
    color: black;
}

.spriteLoader {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spriteLoader > .sprite {
    visibility: visible;
}

.spriteLoaderTitle {
    font-style: oblique;
    color:rgb(0, 0, 0);
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}