body {
    background-color:dimgray;
    background-image: url("images/unova.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#dex {
    display: inline;
}

.borderedTable {
    margin: auto;
    border: 2px solid aliceblue;
    background-color: rgba(178,142,96,255);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

#pageTitle {
    font-size: 75px;
    font-style: italic;
    color: rgba(1,127,159,255);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 5px;
}

.titleLower {
    color: rgba(162,190,202,255);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.outerBorderSelection {
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(2, 67, 85, 0.7);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;

}

.textIntro {
    color: whitesmoke;
    margin: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius:  10px;
    background-color: rgba(1,125,158,0.3);
    padding: 5px;
    font-size: larger;
    flex-basis: 85%;
}

.textIntro b {
    color: black;
}

.spriteLoader {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 13%;
}

.spriteLoaderTitle {
    font-style: oblique;
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#spriteButton {
    margin-top: 3px;
}

.pkmnSelect {
    text-align: center;
    background-color: rgba(1,125,158,0.3);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

option {
    text-align: center;
}

.typeMatchupArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(47,143,67,0.7);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-left: 100px;
    margin-right: 100px;
}

.typeChartText {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.wholeTable {
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    color: whitesmoke;
    margin-bottom: 10px;
}

.wholeTable th, td {
    padding: 10px;
    font-size: 1.3vw;
}

.wholeTable td {
    border: 1px solid rgba(47,143,67,0.7);
}

.moveIcon {
    margin: 0;
    font-size: large;
}

.wholeTable .set1 td{
    background-color: rgba(0, 100, 0, 0.342);
}

.wholeTable .set2 td{
    background-color: rgba(0, 100, 0, 0.693);
}

.sprite1 img, .sprite2 img, .sprite3 img, .sprite4 img,
 .sprite5 img, .sprite6 img{
    max-width: 120%;
    max-height: 120%;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}